.container {
    margin-left: 600px;
    margin-right: 800px;
    margin-top: 200px;
    text-align: center;
}

#timer {
    margin-left: 90%;
    margin-top: -56px
}

.hide {
    display: none;
}

#highscore-form {
    margin: 10px;
}

#submit-Name {
    margin: 10px;
}